/* Style de base */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background: linear-gradient(45deg, #fafafa, #e5dcdc, #ffffff);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Appliquer l'animation à tous les éléments enfants directs du body */
body > * {
    animation: slideIn 0.8s ease-out;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    height: 80px;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #1B3168;
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px;
    border: 1px solid #ddd;
}

.dropdown-content a {
    color: #1B3168;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.title .notre {
    font-size: 30px;
    font-weight: bold;
    color: #C4A484;
}

.title .expertise {
    font-size: 30px;
    font-weight: bold;
    color: #1B3168;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    color: #1B3168;
    margin-bottom: 120px;
}

.subtitle .highlighted {
    font-weight: bold;
    color: #1B3168;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 40px;
}

.column {
    width: 300px;
    padding: 20px;
    text-align: left;
    border-left: 5px solid #C4A484;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
}

.column:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.column h2 {
    font-size: 20px;
    color: #1B3168;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.column h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #C4A484;
    margin: 10px auto 0;
    border-radius: 2px;
}

.column ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.column ul li {
    font-size: 14px;
    color: #1B3168;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.column ul li::before {
    content: "◆";
    position: absolute;
    left: 0;
    top: 0;
    color: #C4A484;
    font-size: 12px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        height: 60px;
        margin-bottom: 10px;
    }

    .title h1 {
        margin-bottom: 10px;
    }

    .grid {
        flex-direction: column;
        align-items: center;
    }

    .column {
        max-width: 90%;
        text-align: left;
    }

    .column h2 {
        font-size: 18px;
    }

    .column ul li {
        font-size: 14px;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 10px;
    }
}
